{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "react"
  ],
  "rules": {
    "indent": ["error", 2],
    "quotes": [2, "single", "avoid-escape"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
